.container {
  max-width: 1280px;
  max-height: 100%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.sub-heading {
  display: flex;
  gap: 50px;
  height: 80px;
  width: 100%;
}
.sub-heading img {
  width: 80px;
}
.sub-heading h2 {
  line-height: 80px;
  font-size: 40px;
  color: grey;
}

.section {
  padding: 50px 0;
  margin: 30px 0;
  background-color: #fff;
}
.section .sub-heading {
  margin-bottom: 30px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  background-color: #F1F1F1;
}

.header {
  background-color: white;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 80px;
  padding: 15px;
}
.header .logo {
  width: 115px;
  height: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container nav {
  display: flex;
  gap: 25px;
}

.main .main-visual {
  width: 100%;
}
.main .main-visual .main-visual-list {
  padding-top: 80px;
  width: 100%;
}
.main .main-visual .main-visual-list li {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
}
.main .main-visual .main-visual-list p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: rgb(167, 30, 126);
}
.main .main-visual .scroll {
  position: absolute;
  width: 40px;
  height: 40px;
  border-right: 5px solid rgb(14, 109, 242);
  border-bottom: 5px solid rgb(237, 210, 10);
  transform-origin: bottom left;
  transform: translateX(-50%) rotate(45deg);
  bottom: 70px;
  left: 50%;
  -webkit-animation: scroll;
          animation: scroll;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes scroll {
  0% {
    bottom: 70px;
  }
  50% {
    bottom: 65px;
  }
  100% {
    bottom: 70px;
  }
}
@keyframes scroll {
  0% {
    bottom: 70px;
  }
  50% {
    bottom: 65px;
  }
  100% {
    bottom: 70px;
  }
}
.main .news {
  padding: 50px 0;
  margin: 30px 0;
  background-color: #fff;
}
.main .news .sub-heading {
  margin-bottom: 30px;
}